# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local

# React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build/
dist/

# Docker
!.env